<div ng-controller="NewPathController" class="wrapper">

<h2>New {{topicName}} Path</h2>

<div>
Name <input type="text" ng-model="pathName">
</div>

<div ng-repeat="step in steps">
  <h4 style="float:left"> Step {{$index + 1}} <button ng-click="deleteStep(step.index)" style="font-size:15px">delete</button></h4>
  
  <div style="clear:both"></div>
  <br>
  Name <input type="text" ng-model="step.name" /> <br>
  Link <input type="text" ng-model="step.link" /> <br>
  Description <input type="text" ng-model="step.desc" /> <br>
</div>
<button class="waves-effect waves-light btn" ng-click="createPath()">Create Path</button>
<button class="waves-effect waves-light btn" ng-click="addStep()">Add Step</button>

</div>